body{
	background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
	animation: fadeInUp 0.5s ease-in-out 0.4s;
}

.container{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 300px;
	height: 300px;
	padding: 20px;
	transform: translate(-50%,-50%);
	box-shadow: 10px 5px 5px black;
	background-color: black;
	color: whitesmoke;
	text-transform: uppercase;
	z-index: 2;
	border-radius: 10px;
}
h3{
	text-align: center;
	font-size: xx-large;
	margin-top: 10px;
	font-family: 'Familjen Grotesk', sans-serif;
	letter-spacing: 2px;
}
p{
	font-size: xx-small;
	position: relative;
	left: 20%;
	bottom: 5%;
	color: gray;
	font-family: 'Familjen Grotesk', sans-serif;
}
.login-form{
	z-index: 1;
	width: 600px;
	height: 400px;
	background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
	position: absolute;
	transform: translate(-50%,-50%);
	top: 50%;
	left: 50%;
	box-shadow: 10px 5px 5px black;
	border-radius: 10px;
	font-family: 'Familjen Grotesk', sans-serif;
}

form input{
	display: inline;
	margin: 5px;
	border-radius: 5px;
	border: none;
	padding: 7px;
	cursor: pointer;
	text-align: center;
	border-radius: 20px;
	border: none;
	background-color: black;
	color: whitesmoke;
	font-family: 'Familjen Grotesk', sans-serif;
	transition: border 0.4s cubic-bezier(0.19, 1, 0.22, 1);
}
form input:hover{
	border: 2px solid #17edee;
}
form .name{
	margin-left: 70px;
	margin-top: 2px;
	text-align: center;
}
form .pwd{
	margin-top: 30px;
	margin-left: 70px;
	text-align: center;
}
form .forgot{
	position: absolute;
	margin-top: 90px;
	margin-left: -40%;
	font-size: small;
	color: gray;
	font-family: 'Familjen Grotesk', sans-serif;
	transition: color 0.4s cubic-bezier(0.19, 1, 0.22, 1);
}
form .btn{
	margin-top: 15%;
	margin-left: 25%;
	text-transform: uppercase;
	padding: 20px;
	border-radius: 20px;
	border: none;
	width: 150px;
	height: 50px;
	text-align: justify center;
	background-color: black;
	color: whitesmoke;
	font-family: 'Familjen Grotesk', sans-serif;
	transition: border color 0.4s cubic-bezier(0.19, 1, 0.22, 1);
}
.forgot:hover{
	color: whitesmoke;
}
form .btn:hover{
	border: 2px solid #159c06;
}

@keyframes fadeInUp {
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}